@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  color: white;
}

#container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

h1, h2 {
  margin: 40px 0;
  font-family: 'Press Start 2P', monospace;
}
button {
  background-color: white; /* Green */
  border: 1px solid black;
  color: black;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
  font-size: 16px;
  font-family: 'Audiowide', monospace;
}

button:hover {
  transform: scale(1.2);
}

